ROOT_PATH=C:\hp1

# HOMEPILOT_WORKER_URL=http://127.0.0.1:8787
HOMEPILOT_WORKER_URL=https://homepilot-speech-test.xxxxxxxxx.workers.dev
HOMEPILOT_WORKER_SECRET_TOKEN=your-worker-secret-token

# LOCAL_MODEL=qwen3.5-4b
LOCAL_MODEL=qwen3.5-2b
